body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header{
    background-color: #1F2937;
    color: #F9FAF8;
}

.logo{
    display: flex;
    align-items: center;
    font-weight:bolder;
    font-size: 24px;
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    padding: 0 256px;

}

.header-links ul{
    display: flex;
    list-style: none;
    gap: 16px;
}

.header-links a{
    text-decoration: none;
    color:white;
}

.header-content{
    display: flex;
    justify-content: space-between;
    padding: 128px 256px;
    gap: 64px;
    align-items: center;
}

.header-text-title{
    font-size: 24px;
}

.header-text-content{
    font-size: 16px;
}

.header-text-sign-up button{
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    padding: 16px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 16px;
}

.header-image{
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    flex-shrink: 0;
}
.information{
    padding: 32px;
}
.information-title{
    display: flex;
    justify-content: center;
}
.information-content{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    gap: 32px;
}
.information-boxes{
    width: 150px;
}
.information-box-text{
    text-align: center;
}
.blue-box{
    width: 150px;
    height: 150px;
    border:5px solid #3882F6;
    border-radius: 10px;
}

.quote{
    background-color: #E5E7EB;
    padding: 64px 364px;
}
.quote-text{
    font-style: italic;
    font-weight: lighter;
    font-size: 24px;
}
.quote-author{
    text-align: right;
    font-size: 20px;
}

.cta-box{
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    margin: 128px 256px;
    padding: 32px 64px;
    align-items: center;
}
.cta-box button{
    border: white 2px solid;
    background-color: #3882F6;
    color: white;
    height: 32px;
    width: 128px;
    border-radius: 5px;
}

.footer{
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
}